/* GLobal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .d-flex {
    display: flex;
  }
  .page-title{
    background-color: transparent;
    align-items: center;
    text-align: center;
    color: darkblue;
     border-radius: 20px/30px;
    
  }
   /* buttons */
  .btn {
    outline: 2px ridge rgba(red, green, blue, alpha);
    border: none;
    background-color: wheat;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
  }
  select {
    appearance: none;
    outline: greenyellow;
    background-color: wheat;
    padding: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: #0E141C;
    border-color: darkblue;
  }
  
  .mb {
    margin-bottom: 1rem;
  }
  
  /* End GLobal Styles */
  
  .main-container {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #8a9a5b;
    border-radius: 20px/30px;
  }
  
  .clock-container {
    padding: 3rem;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: darkkhaki;
  }
  
  .current-time {
    font-size: 2rem;
    color: #0E141B;
  }
  
  .alarm-form {
    justify-content: space-between;
    width: 100%;
    background-color: palevioletred;
    padding: 2rem;
    border-radius: 20px/30px;
    border: brown;
  }
  
  .submit-button {
    border-color: black;
    border: 120px;
    border-radius: 2rem;
    font-weight: bold;
  }
  
  .set-alarm-container {
    width: 100%;
  }
  
  .set-alarm-container .set-alarm-container-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
  }
  
  .alarm {
    justify-content: space-between;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    align-items: center;
  
  }
  .alarm .delete-alarm {
    border-radius: 2rem;
    background-color: rgb(244,187,255);
    font-weight: bolder;
    color: #666699;
    font-size:large;
  }
  
  .time {
    color: #0E141B;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .btn:focus,
  .btn:hover {
    box-shadow: #893f45 3px 3px 2px 5px inset , #fff -2px -2px 10px 1px inset;
  }
  /* style of devices of screen size less than 768px */
  @media only screen and (min-width: 600px) {
    /* adding padding to  the container */
    .main-container {
      padding-block: 2rem;
    }
    .clock-container{
        justify-content: center;
        border-radius: 50px;
        width: 450px;
        min-height: auto;
    }
  }